<h3>Add movie</h3>
<div class="row">
  <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="title" #title="ngModel" name="title" type="text" placeholder="Title" ngModel required="true" minlength="2" [class.invalid]="!searchForm.touched || searchForm.pristine || searchForm.invalid"
        />
        <label for="title">Title</label>
      </div>
      <div class="col s6">
        <p *ngIf="title.errors?.minlength">
          Please enter at least 2 characters.
        </p>
        <p *ngIf="title.errors?.required">
          Please enter a title.
        </p>
      </div>
    </div>

    <div class="row">
      <app-button-back></app-button-back>
      <button type="submit" [disabled]="!searchForm.valid" class="btn"><i class="material-icons">search</i> Search</button>
    </div>
  </form>

  <div class="row">
    <div class="col s12">
      <ul class="collection">
        <li class="collection-item avatar" *ngFor="let movie of foundMovies">

          <app-movie [movie]="movie" (selected)="add($event)"></app-movie>

          <button (click)="add(movie)" class="btn">
            <i class="material-icons">library_add</i> Add
          </button>
        </li>
      </ul>
    </div>
  </div>

</div>
